.boundary-main {
  background: #000
    url(https://static-web-images.imgix.net/web-images/common/background-no-image-1440.jpg?auto=compress,format)
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: transparent;
}

.boundary-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.handle-header {
  color: #d1d3d4;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.5px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 30px;
  text-align: center;
}

.boundary-arrow-button {
  display: block;
  background: none;
  border: none;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  cursor: pointer;
}

.boundary-sec-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boundary-card-align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  position: relative;
  overscroll-behavior: contain;
  user-select: none;
  gap: 10px;
}

.add-boundary-flex {
  display: flex;
  gap: 500px;
}

.boundary-image-card-title {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.125px;
  font-weight: 400;
  text-transform: none;
  opacity: 1;
  pointer-events: inherit;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.5s, color 0.5s;
  &:hover {
    opacity: 0.5;
  }
}

.boundary-image-card-description {
  color: #d1d3d4;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 400;
}

.learn-more {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.25;
  margin-left: 4px;
  transition: opacity 0.5s, color 0.5s;
  &:hover {
    opacity: 0.5;
  }
}

.hero-trailer-main {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.demand-video {
  width: 27px;
  height: 27px;
  color: rgb(210, 255, 0);
  padding-right: 8px;
}

.trailer-text-sml {
  text-decoration: none;
  cursor: pointer;
}

.trailer-text-sml span {
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  &:hover {
    color: #d1d3d4;
    transition: color 0.1s ease-in-out;
  }
}
