.coming-soon-main {
  background: #000
    url(https://static-web-images.imgix.net/web-images/common/background-no-image-1440.jpg?auto=compress,format)
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.coming-image-header {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.25px;
  line-height: 1.4;
  text-transform: uppercase;
}

.coming-image-card-main {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 10px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.header-image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.coming-soon-header {
  margin-left: 44px;
}

.image-rad {
  border-radius: 5px;
}

.side-button {
  padding-top: 60px;
}

.add-button-pad {
  display: block;
  background: none;
  border: none;
  color: #fff;
  width: 3rem;
  cursor: pointer;
}

.coming-side-button-main {
  display: flex;
  align-items: center;
}

.button-icon {
  font-size: 36px;
  color: #fff;
}

.no-show-button {
  opacity: 0;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .header-image {
    width: 100%;
  }
  .coming-side-button-main {
    margin: 0 8px;
  }
}

@media (min-width: 431px) and (max-width: 767px) {
  .header-image {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .header-image {
    width: 100%;
  }
  .coming-side-button-main {
    margin: 0 15px;
  }
}
