* {
  padding: 0;
  margin: 0;
}

.footer-main {
  background-color: rgb(2, 18, 20);
}

.footer-section-main {
  display: flex;
  padding: 55px 15px 50px;
  margin: auto;
  max-width: none;
  width: 80%;
}

.first-section,
.second-section {
  display: flex;
  padding: 0 15px;
}

.second-section div {
  margin-right: 20px;
}

.first-section {
  flex-direction: column;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.footer-heading {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.75px;
  line-height: 1.67;
  margin-bottom: 8px;
}

.first-section-header {
  display: flex;
}

.first-section-header div {
  margin-right: 10px;
}

.footer-list {
  margin-bottom: 3px;
}

.footer-link {
  color: #d1d3d4;
  display: inline-block;
  text-transform: capitalize;
  vertical-align: super;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.33;

  &:hover {
    color: white;
  }
}

.last-footer-list {
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.8;
}

.line {
  margin-left: 134px;
}

.icons-align {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.icon {
  width: 28px;
  height: 28px;
  color: white;
}

.line-main-section {
  display: flex;
  align-items: center;
  min-height: 104px;
  padding: 19px 0;
}

.hr-line {
  background-image: linear-gradient(
    90deg,
    #131313,
    #fff 50%,
    #101010 100%,
    #0f0f0f
  );
  height: 1px;
  opacity: 0.25;
  width: 90%;
}

.line-main-section p {
  margin-left: 20px;
  color: hsla(200, 3%, 83%, 0.75);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.43px;
  line-height: 1;
  font-family: Averta, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.web-logo {
  width: 128px;
  height: 29px;
}
