* {
  padding: 0;
  margin: 0;
  font-family: Averta, Helvetica Neue, Helvetica, Arial, sans-serif;
}

button {
  /* background-color: #d2ff00; */
  width: 300px;
  font-size: 16px;
  background: linear-gradient(90deg, #d2ff00, #d2ff00);
  border: none;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.5px;
  outline: none;
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  line-height: 24px;
}

button:hover {
  background: linear-gradient(90deg, #d2ff00 0, #d6fbf0 85%, #a6feff);
}
